<section>
    <h2>Sign up to log in</h2>
    <form>
        <input type="text" placeholder="Login" class="login-input">
        <input type="password" placeholder="Password" class="password-input">
        <button type="submit" class="login-button">Login</button>
    </form>
    <p>Don't have login yet?</p>
    <a href="/register">Register</a>
</section>