<section>
    <h2>Sign up to register</h2>
    <form class="register-form">
        <input type="text" placeholder="Login" class="register-login-input input">
        <input type="password" placeholder="Password" class="password-input input">
        <div class="password-container"></div>

        <p>Confirm your password</p>
        <input type="password" class="confirm-password" placeholder="Confirm password">
        <button type="submit" class="submit-register-button">Register</button>
    </form>
    <p>Already registered?</p>
    <a href="/login">Login</a>
</section>